.plan{
  width: 100%;
  margin-top: 90px;
  text-align: center;
  &_title{
    color: #06BBCCFF;
  }
  &_banner{
    display: block;
    text-align: center;
    &_block{
      width: 50%;
      border: 1px solid #cccccc;
      padding: 20px 20px;
      margin: 45px auto;
      box-shadow: 3px 8px 12px #ccc;
      &_day{
        color: #cccccc;
        font-size: 30px;
        border: 1px solid  #06BBCCFF;
        border-radius: 20px;
        padding: 5px 8px;
      }
    }
  }
}